@media (min-width: 610px) {
    body {
      width: 600px;
    }
  }
  @media (max-width: 610px) {
    body {
      width: 80%;
    }
  }
  html {
    font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
  }
  body {
    margin: auto;
  }
  footer {
    margin-bottom: 30px;
  }
  article {
    counter-reset: heading;
  }
  article h2::before {
    counter-increment: heading;
    content: "0" counter(heading) ": ";
  }
  #toc h2 {
    text-transform: uppercase;
    font-size: 11pt;
    letter-spacing: 2px;
  }
  #toc h3 {
    font-weight: normal;
    font-size: inherit;
  }
  
  ul {
    list-style-type: none;
  }
  
  li.active {
    color: red;
  }
  
  #toc {
    position: fixed;
    left: 0;
  }
  a,
  a:visited,
  a:hover,
  a:active, a:-webkit-any-link {
    text-decoration: none;
    color: #ccc;
    will-change: all;
    transition: all 50ms ease-in-out;
  }
  
  html {
      scroll-padding-block: 150px;
  }
  
  .highlight, a.highlight {
      color: #333;
      font-weight: 500;
  }
  
  .highlight:hover, a.highlight:hover,
  .highlight:focus, a.highlight:focus {
      color: #666;
  }
  
  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
  }