@media (min-width: 610px) {
  body {
    width: 600px;
  }
}
@media (max-width: 610px) {
  body {
    width: 80%;
  }
}
html {
  font-family: "Crimson Text", serif;
  scroll-behavior: smooth;
}
body {
  margin: auto;
}
footer {
  margin-bottom: 30px;
}
article {
  counter-reset: heading;
}
article h2::before {
  counter-increment: heading;
  content: "0" counter(heading) ": ";
}
#toc h2 {
  text-transform: uppercase;
  font-size: 11pt;
  letter-spacing: 2px;
}
#toc h3 {
  font-weight: normal;
  font-size: inherit;
}

ul {
  list-style-type: none;
}

li.active {
  color: red;
}

#toc {
  position: fixed;
  left: 0;
}
a,
a:visited,
a:hover,
a:active, a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
  will-change: color;
  transition: color ease-in-out;
}

html {
    scroll-padding-block: 150px;
}

.highlight {
  color: red;
}